{% load static %}

{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load widget_tweaks %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html>
<head>
    
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>webPractica</title> 
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'ucnLogo.ico' %}">
</head>

<body>


    {% include 'navbar.html' %}

    {% block content %}

    {% endblock %}

</body>

</html>