{% extends 'main.html' %} {% block content %} 
<h1>Flotacion</h1>
<form method="post" novalidate>
   {% csrf_token %} {{ form.non_field_errors }} {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }}
   {{ hidden_field }} {% endfor %} 
   
      {% for field in form.visible_fields %} 
      <tr>
        <div class="col-6">
         <th>{{ field.label_tag }}</th>
         <td>
            {{ field.errors }}
            {{ field }}
            {{ field.help_text }}
         </td>
         </div>
      </tr>
      {% endfor %} 
   
   <br>
   <button type="submit" class="btn btn-primary" name="submit_input">Predecir</button>
</form>
<hr />
<form method="post" enctype="multipart/form-data" novalidate>
  <div class="form-group">
   {% csrf_token %} {{ excelError }}
   {{ excelForm.as_p }}
   <button type="submit"  class="btn btn-primary" name="submit_excel">Predecir</button>
  </div>
</form>
<hr />
{% load static %}
<!-- In top-->
<a href="{% static "\PlantillaParaFlotacion.xlsx" %}" alt="My image">Descargar Plantilla De Prueba</a> {% endblock content%}
