{% extends 'main.html' %}


{% block content %}

<h1>{{lix.name}}</h1>

<body>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.erros }}
            {{ hidden_field }}
        {% endfor %}

        <table border="1">
            {% for field in form.visible_fields %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>
                    {{ field.errors }}
                    {{ field }}
                    {{ field.help.text }}
                </td>
            </tr>
            {% endfor %}
            </table>
            <button type="submit" name="submit_input">Predecir</button>
            </form>
            <hr/>

            <form methos="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ excelForm.as_p }}
                <button type="submit" name="submit_excel"> Predecir </button>
            </form>
            
            <hr />
            
            <form action="/export_excel">
                <button id="stat=btn" class="btn">Descargar Plantilla Excel</button>
            </form>

            {% endblock content%}
            <!--
                <td style="text-align: center">
                Granulometría<br>
                <input type="text" name="Granulometría"> 
                </td>
                <td style="text-align: center">
                    Ratio de irrigacion<br>
                    <input type="text" name="Ratio de irrigación" class="form-control">
                </td>
                <td style="text-align: center">
                    Acido total anadido<br>
                    <input type="text" name="Ácido total añadido">
                </td>
                <td style="text-align: center">
                    Altura de la pila<br>
                    <input type="text" name="Altura de la pila">
                </td>
                <td style="text-align: center">
                    Ley Cu Total <br>
                    <input type="text" name="Ley Cu Total">
                </td>
                <td style="text-align: center">
                    Ley CO3<br>
                    <input type="text" name="Ley CO3">
                </td>
                <td style="text-align: center">
                    Ratio de Lixiviado<br>
                    <input type="text" name="RL">
                </td>
                <td style="text-align: center">
                    Días de operación<br>
                    <input type="text" name="dias operacion">
                </td>
                <td style="text-align: center">
                    Cu Soluble <br>
                    <input type="text" name="Cu soluble">
                </td>
            </tr>
        </table>
        <button type="submit">Predecir</button>

        <br><br>
    </form>
    <form method="post">
        <table>
            <label for="myfile">Seleccione un archivo:</label>
  <input type="file" id="myfile" name="myfile"><br><br>

  <button><a href="/lixiviacion/1">Enviar</a></button>
        </table>
    </form>

</body>

-->  
