{% extends 'main.html' %}
{% block content %}
<body>
    <div class="mx-auto" style="width: 1000px;">
        <div class="mx-auto" style="width: 200px;"><h1>Lixiviación</h1></div>

    <div class="card text-white bg-success mb-3" style="max-width: 70rem">
        <div class="card-header">Predicción</div>
        <div class="card-body">
          <p class="card-text">{{datos}}</p>
            </div>
        </div>
        </div>
            <h5><a href="/" class="row justify-content-center">Regresar al inicio</a></h5>
        </div>
    </div>
</body>
{% endblock content %}